.logo-img{
    margin-top: 20px;
}
.nevber{
    margin-top: 15px;
}
.logo-img img{
    width: 20%;
}
.button-aria{
    margin-left: 300px;
}
.nev-ber li{
    padding-left: 30px;
    font:icon;
}
.nav-item button{
    width: 100px;
    height: 42px;
    background-color:#21B573;
    color: #fff;
    border-radius: 50px;
    border-style: none;
}
span{
    color: #21B573;  
}
.hero-left h6{
    color: #FD511A;
    line-height: 25px;
    font-size: 16px;
}
.hero-left h1{
    line-height:70px;
}
.hero-left p{
    line-height: 35px;
    font-size: 16px;
    
}

.hero-area {
    background: #F0FFF0;
    padding-top: 150px;
    padding-bottom: 80px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.nev-ber {
    position: relative;
    z-index: 999;
}

.hero-right img {
    width: 100%;
    padding-right: 50px;
}

.reader-more-btn {
    background: #21B573;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 36px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}